{% extends 'base_1.html' %}
{% load static %}

{% block title %} Головна {% endblock %}

{% block content %}
<div class="content-container">
    <div class="one-conteiner">
        <div class="icon-logo">
            <img src="data:image/jpg;base64,{{ context.base64 }}" class="img-logo">
        </div>
        <div class="mein_text_cont">
            <div class="mein_text">
                <h1>Lazer Beauty Hall</h1>
                <p>Найкращий салон Дніпра.</p>

                <p>Ми працюємо лише заради вас, підбираючи індивідуальний підхід для кожного клієнта, надаємо лише
                    найвищу
                    якість послуг, даруючи красу та душевну рівновагу.</p>
                <p>Основна діяльність салону спрямована на задоволення потреб своїх відвідувачів, щоб клієнт почувався в
                    салоні як всебе дома з комфортом на всі 100%.
                </p>
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
</div>

<div class="content-container_2">
    <div class="one-conteiner_2">
        <div class="mein_text_cont">
            <div class="mein_text">
                <h1>Переваги лазерної епіляції</h1>
                <ul><p>Лазерна Епіляція це одна суцільна зручність! Як для дівчини так і для чоловіка.</p>
                    <p>Якщо вибрати хороший апарат результат ГАРАНТОВАНИЙ з першої процедури.
                        Головними пепевагами цієї процедури є:</p>
                    <li>Доступність на будь- якій ділянці тіла.</li>
                    <li>Відсутність больових відчуттів та наслідків після (не залишає подразнень та ран).</li>
                    <li>Гарантований результат</li>
                    <li>Сеанси проводяться курсом</li>
                    <li>Не травмує епідерміс</li>
                    <li>Ніяких врослих волосків</li>
                    <li>Стимулює вироблення кологену : він дарує епідермісу пружність, розгладжує дрібні зморшки</li>
                </ul>
                <p>На сьогоднішній день процедура Л. Е., вже не є чимось фантастично дорогим і дозволити її може
                    кожен</p>

                АНАЛІЗУЮЧИ всі "ЗА" та " ПРОТИ" всіх методів.
                <p>Безумовно - Л. Е., - 100%</p>

                <p>Чекаю саме на тебе в моїй затишні студії</p>

                Laser Beauty Hall
            </div>
        </div>
        <div class="icon-logo_1">
            <img src="data:image/jpg;base64,{{ plas.base64 }}" class="img-logo_1">
        </div>
    </div>
    <div class="clear">
    </div>
</div>

<div class="content-container">
    <div class="one-conteiner">
        <div class="icon-logo">
            <img src="data:image/jpg;base64,{{ cont2.base64 }}" class="img-logo">
        </div>
        <div class="mein_text_cont">
            <div class="mein_text">
                <h1>Найкраще обладнання для лазерної епіляції</h1>
                <p>Зараз лазерна епіляція є однією з найпопулярніших косметологічних процедур по видаленню волосся, та
                    можливість проведення процедур на будь-яких ділянках тіла для жінок так і для чоловіків, оскільки
                    методика виявилася найнадійнішою та безболісною з усіх відомих. В салоні laserbeautyhall апарат
                    Fenix останнього покоління 2022 року дозволяє видаляти волосся абсолютно безболісно, швидко,
                    безпечно і надовго. </p>

                <p>Трихвильовий (755, 808, 1064 Нm) - а це значить ми поборемося за результат у людей з русявим і
                    світлим волоссям. </p>
                <p>З потужними трьома системами охолодження: водної, повітряної, напівпровідникової. Заморожування
                    маніпули до -°10, комфорт під час процедури без нагрівання.</p>
                <p>Розмір робочої плями 15*25 мм - що дозволяє проводити сеанси ще швидше та без втрати якості.</p>
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
</div>

<div class="content-container_2">
    <div class="one-conteiner_2">
        <div class="mein_text_cont">
            <div class="mein_text">
                <ul><h2>Підготовка до лазерної епіляції</h2>
                    <li>За день до проведення процедури необхідно поголити волосся у зонах проведення процедури.</li>
                    <li>За 14 днів до процедури не можна відвідати сауну, солярій та засмагати на сонці.</li>
                    <li>За 7 днів до сеансу не приймати антибіотики тетрациклінової групи, а також препарати, що
                        належать до фторхінолонів.
                    </li>
                    <li>За 2 тиждні до проведення Лазерної епіляції слід виключити всі інші види депіляції, крім
                        гоління.
                    </li>
                    <li>Не користуватися лосьйонами, тоніками для тіла в день процедури.</li>
                    <li>ВАЖЛИВО дотримуватися графіка відвідувань а також всіх правил проведення лазерної епіляції.</li>
                </ul>
            </div>
        </div>
        <div class="icon-logo_1">
            <img src="data:image/jpg;base64,{{ preparation.base64 }}" class="img-logo_2">
        </div>
    </div>
    <div class="clear">
    </div>
</div>


{% endblock %}